# Dependencies
node_modules/
dist/
pythoncode
endpoints
# Environment
.env
.env.*
postgres-data
# IDE
.idea/
.vscode/
*.swp
*.swo
create-admin.http
member.http
test-agenda.http
test-prestamo.http
test-atendance.http
*.http
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
instrucciones.txt
